@font-face {
    font-family: 'europa-regular';
    src: url('styles/fonts/europa.woff2-webfont.woff2') format('woff2'),
         url('styles/fonts/europa.woff2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
/* @font-face {
    font-family: 'europa-regular';
    src: url('https://clayndugga.github.io/styles/fonts/europa.woff2-webfont.woff2') format('woff2'),
         url('https://clayndugga.github.io/styles/fonts/europa.woff2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  } */